.body{
    background: #E5E5E5;
    color: #212121;
}
/*голова*/
.header{
    background: #FFFFFF;
    color: #212121;
}
.Web_color{
    color: #2196F3;
}
.Web_color2{
    color: #000000;
}
ul{
    list-style: none;
}
.Web_color{
    color: #2196F3;
}
/*Navigations*/
.navig_sait a{
    color: #212121;
}
.navig_sait :hover{
    color: #2196F3;   
}


/*main*/
.name{
    background: #2F303A;
    color: #FFFFFF;
}
/*секуия1*/
/*секция 2*/
/*секция 3*/
/*адреса*/
.Web_color3{
 color: #FFFFFF;   
}

/* цвет навигации не активной #212121
 */
/*  цвет контактов #757575*/
/* цвет заголовка #FFFFFF*/
/* цвет заголовок преимуществ*/
/* цвет текста преимуществ*/
/* цвет загововок секций #212121
*/
/* цвет адреса*/
/*цвет контактов rgba(255, 255, 255, 0.6);*/
/*цвет выделения активации активности*/
