:root{
    --prymery-text-color: #212121;
--title-text-color: #212121;
--accent-color: #2196F3;
--button-text-color: #FFFFFF;
--button-background: #2196F3;
--background-cilir : #FFFFFF;

}
.body{
    background: #ffff;
    color: var(--title-text-color)
}
/*голова*/
.header{
    background: #FFFFFF;
    color: var(--title-text-color)
}
.Web_color{
    color: #2196F3;
}
.Web_color2{
    color: #000000;
}
ul{
    list-style: none;
}
.Web_color{
    color: #2196F3;
}
/*Navigations*/
.navig_sait a{
    color: var(--title-text-color)
}
.navig_sait :focus,
.navig_sait :hover{
    color: var(--accent-color);   
}
.contakts a{
    color:  #757575;
}
.contakts :focus,
.contakts :hover{
    color: #2196F3;
}
/*main*/

/*секуия1*/
.name{
    background: #2F303A;
    color: var(--button-text-color)
}
.section{
    background: #FFFFFF;
}
/*кнопка*/
.button{
    color: var(--button-text-color);
    background-color: var(--button-background);
}

/*секция 2*/
.section_title{
    color: #212121;
}
.Benefits-list title{
    color: var(--title-text-color)
    }
.benefits-clarification{
    color: #757575;
}



/*секция 3*/
.section-comand{
    background: #F5F4FA;
}
/*адреса*/
.Web_color3{
 color: #FFFFFF;   
}

/* цвет навигации не активной #212121
 */
/*  цвет контактов #757575*/
/* цвет заголовка #FFFFFF*/
/* цвет заголовок преимуществ*/
/* цвет текста преимуществ*/
/* цвет загововок секций #212121
*/
/* цвет адреса*/
/*цвет контактов rgba(255, 255, 255, 0.6);*/
/*цвет выделения активации активности*/
/*партфолио*/