:root{
    --prymery-text-color: #212121;
--title-text-color: #212121;
--accent-color: #2196F3;
--button-text-color: #FFFFFF;
--button-background: #2196F3;
--background-cilir : #FFFFFF;

}
.body{
    background:#FFFFFF
  
}
/*голова*/
.header{
    background: #FFFFFF;
    color: var(--title-text-color)
}
/**LOGO**/
.logo{
    font-family: Raleway;
font-style: normal;
font-size: 26px;
line-height: 1,19px;

}
.adress{
    color: #FFFFFF
}

.Web_color{
    color: #2196F3;
}
.Web_color2{
    color: #000000;
}
ul{
    list-style: none;
}
.Web_color{
    color: #2196F3;
}
/*Navigations*/
.navig_sait a{
    color: var(--title-text-color)
font-weight: 500;
font-size: 14px;
line-height: 1,14px;
letter-spacing: 0.02em;
}
.navig_sait :focus,
.navig_sait :hover{
    color: var(--accent-color);   
}
.contakts{
    color:  #757575;
}
.contakts :focus,
.contakts :hover{
    color: #2196F3;
}
.contakts{
       font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
/*main*/

/*секуия1*/
.name{
    background: #2F303A;
    color: var(--button-text-color)
}
.section{
    background: #FFFFFF;
}
/*кнопка*/
.button{
    color: var(--button-text-color);
    background-color: var(--button-background);
}

/*секция 2*/
.section_title{
    color: #212121;
}
.Benefits-list title{
    color: var(--title-text-color)
    }
.benefits-clarification{
    color: #757575;
}



/*секция 3*/
.section-comand{
    background: #F5F4FA;
}
/*адреса*/
.Web_color3{
 color: #FFFFFF;   
}

/* цвет навигации не активной #212121
 */
/*  цвет контактов #757575*/
/* цвет заголовка #FFFFFF*/
/* цвет заголовок преимуществ*/
/* цвет текста преимуществ*/
/* цвет загововок секций #212121
*/
/* цвет адреса*/
/*цвет контактов rgba(255, 255, 255, 0.6);*/
/*цвет выделения активации активности*/
/*партфолио*/
/*ПАРТФОЛИО*/
.port-nav :focus,
.port-nav :hover{
color: white;
background: #2196F3;
}
.imagi-partfolio p{
    color: #757575;
}